* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.screen-warning {
    font-style: italic;
}

.postit {
    background: #f7f7e7;
    padding: 5px;
}

.indent-one {
    margin-left: 50px;
}
