body {
  color : cyan;
  background-color: black;
  font-weight: normal;
  font-size: 1.5em;
  font-family: "Helvetica Neue", "Lato", Verdana, Helvetica, Geneva, sans-serif;
  background-position: top left;
  background-repeat: repeat;
}

.red {
  color:red;
}

a:link { color : #0000A0}
a:active { color: #8080FF}
a:visited { color : #8080FF}

button {
  padding: 4px 20px;
  /* give the background a gradient */
  background: #ffae00; /* fallback for browsers that don't support gradients */
  background: -webkit-linear-gradient(top, #ffae00, #d67600);
  background: -moz-linear-gradient(top, #ffae00, #d67600);
  background: -o-linear-gradient(top, #ffae00, #d67600);
  background: linear-gradient(top, #ffae00, #d67600);
  border: 2px outset #dad9d8;
  /* style the text */
  font-family: Lato, Verdana, Andika, Arial, sans-serif; /* Andkia is available at http://www.google.com/webfonts/specimen/Andika */
  /* font-size: 0.8em; */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1px 10px #000;
  /* add to small curve to the corners of the button */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* give the button a drop shadow */
  -webkit-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
}

button:hover, button:focus {
  border: 2px solid #dad9d8;
}

button:disabled {
    background: silver;  
}

